<div class="search-container">
  <div class="search-wrapper">
    <form action="/search" class="search-form" role="search" method="POST">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site..."
        class="search-input"
      />
    </form>
  </div>
</div>

