<div class="main-content">
  <div class="author-info">
    <h1 class="author-heading">Hi, I am Raddy.</h1>
    <p class="author-description">Web developer and content creator.</p>
  </div>
  <img src="/images/hero-image.webp" alt="Person looking out through window" class="hero-image">

  <section class="latest-posts">
    <h2 class="posts-heading">Latest Posts</h2>
    <ul class="posts-list">
      <li class="post-item">
        <a href="#">
          <span class="post-title">Post Title</span>
          <span class="post-date">Date</span>
        </a>
      </li>
    </ul>
    <a href="#" class="view-older-posts">&lt; View Older Posts</a>
  </section>

