<%- include('../sections/header'); %>

<form id="login-form">
  <h2>Log in</h2>
  
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  
  <button type="submit">Log in</button>
</form>

<script>
  const signupForm = document.getElementById('login-form');

  signupForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const email = signupForm.email.value;
    const password = signupForm.password.value;
    console.log('Log in:', email, password);
  });
</script>

<%- include('../sections/footer'); %>

