<div class="author">
  <h1 class="author_heading">Search Results</h1>
</div>
<section class="articles">
  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          
          <!-- Afficher la date la plus récente (soit updatedAt si le post est mis à jour, sinon createdAt) -->
          <span class="article-list_date">
            <% if (post.updated) { %>
              <%= new Date(post.updatedAt).toDateString() %>
            <% } else { %>
              <%= new Date(post.createdAt).toDateString() %>
            <% } %>
          </span>
        </a>
      </li>
    <% }); %>
  </ul>
</section>

